:root {
  --color-prussian-blue: #023047;
  --color-selective-yellow: #ffb703;
  --color-pacific-cyan: #26a3c2;
  --color-sky-blue: #8ecae6;
  --color-ut-orange: #fb8500;
  --color-off-white: #f7f7f7;

  --color-background: var(--color-off-white);
  --color-text: rgba(0, 0, 0, 0.9);

  --color-primary: var(--color-prussian-blue);
  --color-secondary: var(--color-pacific-cyan);
  --color-accent: var(--color-selective-yellow);
  --color-tertiary: var(--color-sky-blue);
  --color-interactive: var(--color-ut-orange);

  --color-error: #ff3b3b;
  --color-valid: #005a00;

  --shadow-light: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-medium: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --shadow-dark: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  height: fit-content;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}
.nav-links-container {
  display: flex;
  gap: 1em;
}
.nav-header-link,
.nav-link {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 1.25rem;
}
.nav-header-link {
  font-size: 2.25rem;
}

main {
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
  color: var(--color-prussian-blue);
  width: fit-content;
  padding: 0.5em;
  border-radius: 20px;
}
a:hover {
  background-color: var(--color-accent);
  font-weight: bold;
  box-shadow: var(--shadow-light);
}
button.primary {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: var(--color-interactive);
  border: 1px solid var(--color-border);
  border-radius: 12px;
  padding: 1em;
  box-shadow: var(--shadow-light);
}

button.primary:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  box-shadow: var(--shadow-dark);
}

.error-message {
  color: var(--color-error);
}

/*#region field-container */
.field-container {
  display: flex;
  flex-direction: column;
}
select,
.field-container > input {
  display: flex;
  padding: 0.5em;
  font-size: 1.5rem;
  border-radius: 5px;
  border-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  cursor: text;
}
.field-container > input[type='file'] {
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  max-width: 400px;
  cursor: default;
}
.field-container > label {
  font-size: 1.25rem;
}
.field-container > *[data-status='invalid'] {
  border-color: var(--color-error);
  color: var(--color-error);
}
.field-container > *[data-status='valid'] {
  border-color: var(--color-valid);
  color: var(--color-valid);
}
.field-container > *[data-status='pending'] {
  border-color: var(--color-secondary);
  color: var(--color-text);
}
.field-container > .field-error-container {
  color: var(--color-error);
  font-style: italic;
  font-size: 1rem;
}
.paired-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  align-items: flex-end;
}
.paired-fields > * {
  flex: 1;
}
/*#endregion*/

.chatbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  box-shadow: var(--shadow-medium);
  border-radius: 20px;
}

.chatbox-message-input-wrapper {
  display: flex;
  justify-content: center;
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  overflow: hidden;
  flex: 1;
  width: 100%;
}
.chatbox-message-input-wrapper > input,
.chatbox-message-input-wrapper > textarea {
  flex: 1;
  padding: 0.5em;
  font-size: 1.25rem;
  border: none;
  resize: none;
}
.chatbox-message-input-wrapper > button {
  border-radius: 0;
  flex: 0;
}

.register-page,
.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  border-radius: 10%;
  width: fit-content;
  box-shadow: var(--shadow-medium);
}
.card-header {
  font-size: 2.5rem;
}
.card-secondary-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}
