<section class="login-page">
  <form method='POST' action="/user/login" class="card" data-handle="true">
    <h1 class="card-header">Login</h1>
    {{>field placeholder='Username' type='text' id='username' required=true label='Username' hideLabel=true}}
    {{>field placeholder='Password' type='password' id='password' required=true label='Password' hideLabel=true}} 
    <button class="primary">Log in</button>
    <p> Don't have an account? <a href="/user/register">Register Here</a> </p>
  </form>
  <script src="../scripts/formHandler/index.js" type="module"></script>
</section>
