<section class="recover-page">
  <form method='POST' action="/user/recover" class="card">
    <h1 class="card-header">Enter your username to begin recovery</h1>
    {{>field 
        id='username' 
        type='text' 
        placeholder='Username*' 
        required=true 
        label='Username' hideLabel=true
    }}
    <p>{{recoveryQuestion}}</p>
    {{>field 
        id='recovery-question-answer'
        type='text' 
        required=true 
        placeholder='Recovery Question Answer*'
        label='Recovery Question Answer' hideLabel=true
    }}
    <button class="primary">Submit</button>
  </form>
  <script src="../scripts/formSubmitter.js" type="module" defer></script>
</section>