<section class='chatbox-container'>
  <script type="module" src="../../../scripts/messageHandler.js"></script>
  <input type="hidden" value="{{chatContext}}" data-chat-context="{{chatContext}}">
  <div class='message-container'></div>
  {{#if currentUser}}
  <hr>
  {{>messageForm formId='global-chat' action='/message/global'}}
  {{else}}
    <div class="disabled-messaging-overlay">
      <p class="disabled-overlay-message">Login or Register to start messaging.</p>
      {{>messageForm formId='' action=''}}
    </div>
  {{/if}}
</section>

