<div class='message-wrapper'>
  <span class='message-header'>
    <span>{{avatar}}</span>
    <span>{{author}}</sp>
    <span>{{timeSent}}</span>
  </div>
  <div class="message-body">
    {{message}}
  </div>
  <div class="message-actions-container">
    <button>Like</button>
    <button>dislike</button>
  </div>
</div>