<section class='chatbox-container'>
  <div class='message-history-container'>
    <!-- iterate over messages and populate -->
  </div>

  <form method='POST' action=''>
    {{> field }} {{! Message input. Rendered using chatbox content }}
  </form>
</section>