<section class='chatbox-container'>
  <div class='message-history-container'>
    {{#each messages}}
      {{>message}}
    {{/each}}
    {{> message }}
  </div>

{{>messageForm formId='global-chat' action='/message/global'}}
</section>