<nav>
  <h1 class='nav-header'>
    <a href='/' class='nav-header-link'>ChatExpress</a>
  </h1>
  <div class='nav-menu'>
    {{#if currentUser}}
    {{> dropdown 
      idPrefix='nav-' 
      toggleButtonContent=(getAvatarThumb currentUser.avatar.thumb)
      options=(getNavOptions currentUser.url)
    }}
    {{else}}
      <div class='nav-action-links-wrapper'>
        <a class='nav-link' href='/user/register'>Register</a>
        <a class='nav-link' href='/user/login'>Login</a>
      </div>
    {{/if}}
  </div>
</nav>

