<nav>
  <h1 class='nav-header'>
    <a href='/' class='nav-header-link'>ChatExpress</a>
  </h1>
  <div class='nav-links'>
    <a href=''>Register</a>
    <a href=''>Login</a>
    <a href=''>Profile</a>
  </div>
</nav>