<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/base.css">
    <title>{{ title }}</title>
  </head>
  <body class="layout-body">
    <header class="layout-header">{{> nav }}</header>
    <main class="layout-main">{{{ body }}}</main>
    <footer class="layout-footer">{{> footer }}</footer>
    {{{ scripts }}}
  </body>
</html>